/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1140px) {
	.section-privelegie__content-item { 
		width: 50%;
	}

	.platform-footer-form {
		flex-direction: column;
		align-items: center;
	}

	.platform-footer-form__subscribe-text {
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0; 
	}

	.platform-footer-form__subscribe-form {
		margin: 0;
	}
	
	
	.section-about__create-for-list {
		flex-direction: column;
	}

	.create-for-list__item {
		margin: 10px 0;
		width: 100%;
		height: auto;
		min-width: 100%;
	}

	.create-for-list__item {
		height: auto;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.section-programms__content-item {
		flex-direction: column;
	}

	.section-programms__content-item-text {
		padding: 0 10px;
		text-align: center;
	}

	.section-programms__content-item-link {
		margin: 20px 0;
	}

	.section-projects__contacts-card h3 {
		line-height: 50px;
	}

	.section-projects__contacts-card span {
		line-height: 40px;
	}

	.experts__list .owl-nav {
		top: 40%;
	}

	.is-animated {
		display: flex;
	}

	.not-animated {
		display: none;
	}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.center {
		flex-direction: column;
	}

	.section-privelegie__content,
	.section-review__reviewers-list {
		height: 100%;
		flex-direction: column;
	}

	.section-privelegie__content-item,
	.reviewers-list__item {
		width: 100%;
	}

	.section-projects__contacts-line {
		display: none;
	}

	.section-projects__contacts-card {
		width: 100%;
	}

	.reviewers-list__item {
		margin-left: 0;
	}

	.reviewers-list-content {
		height: auto;
	}

	.reviewers-list__item:first-child .reviewers-list-content {
		background: url('../images/review_bg1.png') no-repeat 50% 50%;
		background-size: contain;
	}

	.reviewers-list__item:nth-child(2) .reviewers-list-content {
		background: url('../images/review_bg2.png') no-repeat 50% 50%;
		background-size: contain;
	}

	.reviewers-list__item:nth-child(3) .reviewers-list-content {
		background: url('../images/review_bg3.png') no-repeat 50% 50%;
		background-size: contain;
	}

	.experts__list .owl-nav {
		display: none;
	}
}

@media only screen and (max-width : 600px) {
	.platform-footer-info {
		flex-direction: column;
		align-items: center;
	}

	.platform-footer-info__social {
		margin-bottom: 10px;
	}

	.platform-footer-info__text {
		width: 100%;
		align-items: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 479px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {
    .navigation__list {
		display: flex;
	}

	.navigation__hidden-button {
		display: none;
	}

	.navigation__list-hidden {
		display: none !important;
	}
	
	.not-animated {
		display: flex !important;
	}

	.is-animated {
		display: none;
	}
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1440px) {
	body {
		font-size: 24px;
		line-height: 40px;
	}

	h4 {
		font-size: 32px;
		line-height: 40px;
	}

	.back-to-top {
		height: 50px;
		width: 50px;
	}

	.container {
		width: 1170px;
	}

	.section-content {
		padding: 0 150px;
	}

	.section-title {
		padding: 25px 0;
	}

	.section-title h2 {
		font-size: 48px;
	}

	.section-list li {
		font-size: 24px;
		line-height: 42px;
		margin-bottom: 29px;
	}

	.section-list span {
		font-size: 48px;
		line-height: 35px;
		margin-right: 20px;
	}

	.subscribe-form__input input {
		padding: 20px;
		font-size: 24px;
		line-height: 40px;
		height: 80px;
	}

	.subscribe-form__button {
		font-size: 26px;
		padding: 0 35px;
		height: 80px;
	}

	.platform-header__video {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
		width: 1920px;
		max-height: 100%;
		margin: 0 auto;
	}

	.platform-header__content {
		padding: 50px 15px 206px 15px;
	}

	.platform-header__navigation {
		margin-bottom: 120px;
	}

	.navigation__list {
		margin-left: 183px; 
	}

	.platform-header__content-info h1 {
		font-size: 55px;
		line-height: 62px;
		margin-bottom: 27px;
	}

	.platform-header__timer-wrap {
		margin-top: 60px;
		min-height: 180px;
	}

	.platform-header__date,
	.platform-header__timer {
		font-size: 48px;
		width: 278px;
		margin: 20px 0;
	}

	.platform-header__start-begin {
		width: 278px;
		font-size: 22px;
	}

	.section-about__allows {
		padding: 55px 0 190px;
	}

	.section-about__create-for {
		padding: 55px 0 213px;
	}

	.create-for-list__item {
		margin-left: 46px;
		padding: 55px 30px 55px;
	}

	.create-for-list__item h4 {
		font-size: 30px;
		line-height: 35px;
	}

	.create-for-list__item-content {
		line-height: 35px;
		margin-top: 40px;
		font-size: 20px;
	}

	.section-privelegie {
		/* padding: 57px 150px 96px; */
		padding: 57px 0 96px;
	}

	.section-privelegie__content-item {
		margin-top: 55px;
	}

	.section-prevelegie__apply a {
		font-size: 28px;
		line-height: 90px;
		width: 396px;
	}

	.section-programms {
  		/* padding: 135px 150px 120px; */
  		padding: 135px 0 120px;
	}

	.section-programms__content {
		margin-top: 50px;
	}

	.section-programms__content-item {
		margin-bottom: 85px;
	}

	.section-programms__content-item-text h3 {
		font-size: 40px;
	}

	.section-programms__content-item-link {
		padding: 17px 69px;
		font-size: 24px;
	}

	.section-experts {
    	/* padding: 0 150px 124px; */
    	padding: 0 0 124px;
	}

	.experts__list button.owl-dot {
		width: 21px;
		height: 20px;
		margin: 14px;
		border: 4px solid #000;
	}

	.experts__list button.active {
		border: 4px solid #000;
	}

	.experts__list-item-content {
		padding: 42px 21px;
	}

	.section-projects {
  		padding-bottom: 137px;
	}

	.section-projects__content {
		padding: 20px 40px 0;
	}

	.section-projects__contacts-card {
		padding: 40px 187px 40px 59px;
	}

	.section-projects__contacts-card h3 {
		font-size: 40px;
	}

	.section-review {
		padding-bottom: 275px;
	}

	.section-review__title {
		margin-bottom: 68px;
	}

	.section-review__reviewers-list {
		padding: 0 180px;
	}

	.experts__list .owl-nav {
		top: 40%;
	}

	.not-animated {
		display: flex;
	}

	.is-animated {
		display: none;
	}
}