*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: black;
    /* font-size: 24px;
        line-height: 40px; */
    font-size: calc((100vw - 375px)/(1440 - 375) * (24 - 18) + 18px);
    line-height: calc((100vw - 375px)/(1440 - 375) * (40 - 26) + 26px);
    font-weight: 300;
    max-width: 1440px;
	margin: 0 auto;
    background: #ffffff;
}

li {
    list-style-type: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

input,
select {
    outline: none;
    border: none; 
}

a:visited, a:focus {
	outline: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: auto;
    width: 100%;
}

h4 {
    /* font-size: 32px;
    line-height: 40px; */
    font-size: calc((100vw - 375px)/(1440 - 375) * (32 - 22) + 22px);
    line-height: calc((100vw - 375px)/(1440 - 375) * (40 - 22) + 22px);
    font-weight: 900;
}

.hidden-x {
    overflow: hidden;
}