*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: black;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background: #ffffff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    outline: none;
    border: none;
}

img {
    width: 100%;
    height: auto;
}

h4 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
}