/* Main styles */
.section-page-wrap {
    /* padding: 82px 0; */
    padding: calc((100vw - 480px)/(1440 - 480) * (150 - 30) + 30px) 0;
}

.section-content {
    /* padding: 0 150px; */
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (150 - 20) + 20px);
}

.section-title {
    padding-bottom: 35px;
}

.section-title h3 {
    font-size: calc((100vw - 480px)/(1440 - 480) * (40 - 30) + 30px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (40 - 35) + 35px);
    font-weight: 400;
}

.section-content__text {
    margin-bottom: 43px;
}

.section-list {
    margin-bottom: 14px;
}

.section-list li {
    /* font-size: 24px;
    font-weight: 300;
    line-height: 60px; */
    display: flex;
    align-items: center;
    font-size: calc((100vw - 480px)/(1440 - 480) * (24 - 20) + 20px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (60 - 30) + 40px);
}

.section-list li:last-child {
    margin-bottom: 0;
}

.section-list span {
    /* line-height: 35px;
    font-size: 32px;
    margin-right: 20px; */
    font-weight: 500;
    white-space: nowrap;
    font-size: calc((100vw - 480px)/(1440 - 480) * (32 - 24) + 24px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (35 - 30) + 30px);
    margin-right: calc((100vw - 480px)/(1440 - 480) * (20 - 15) + 15px);;
}

.subscribe-form-wrap {
     /* padding: 0 150px; */
     padding: 0 calc((100vw - 480px)/(1440 - 480) * (150 - 20) + 20px);
     text-align: center;
}

.subscribe-form__text {
    color: #4E4E4E;
    margin-bottom: 22px;
    /* padding: 0 250px; */
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (250 - 20) + 20px);
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-form__input input {
    /* padding: 20px;
    font-size: 24px;
    line-height: 40px;
    width: 350px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (24 - 18) + 18px);
    padding: calc((100vw - 480px)/(1440 - 480) * (20 - 10) + 10px) calc((100vw - 480px)/(1440 - 480) * (20 - 15) + 15px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (40 - 30) + 30px);
    font-weight: 300;
    border: 1px solid black;
    width: calc((100vw - 480px)/(1440 - 480) * (350 - 240) + 240px);
}

.subscribe-form__button {
    background-color: black;
    color: #ffffff;
    /* font-size: 26px;
    padding: 0 41px */
    font-size: calc((100vw - 480px)/(1440 - 480) * (26 - 20) + 20px);
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (41 - 15) + 15px);
}

.schedule {
    /* padding: 0 150px; */
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (150 - 20) + 20px);
    background-color: #FEE610;
    margin-bottom: 60px;
}

.schedule__item {
    display: flex;
    align-items: center;
    padding: 29px 0;
    border-bottom: 1px solid #000000;
}

.schedule__item:last-child {
    border-bottom: none;
}

.schedule__item__place-date,
.schedule__item__price,
.schedule__item__action {
    width: 33%;
    text-align: center;
}

.schedule__item__place-date {
    font-size: calc((100vw - 480px)/(1440 - 480) * (24 - 20) + 20px);
}

.schedule__iteme__place {
    /* font-size: 36px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (36 - 20) + 20px);
    font-weight: 500;
}

.schedule__item__price {
    /* font-size: 36px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (36 - 20) + 20px);
}

.schedule__item__action {
    /* font-size: 32px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (32 - 18) + 18px);
    font-weight: 400;
    text-align: center;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1140px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .schedule__item__place-date {
        text-align: left;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 600px) {
	.platform-footer-info {
		flex-direction: column;
		align-items: center;
	}

	.platform-footer-info__social {
		margin-bottom: 10px;
	}

	.platform-footer-info__text {
		width: 100%;
		align-items: center;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 479px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}