/* Main styles */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content {
    /* padding: 0 150px; */
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (150 - 20) + 20px);
}

.section-title {
    text-align: center;
    /* padding: 25px 0; */
    padding: calc((100vw - 480px)/(1440 - 480) * (25 - 20) + 20px) 0;
}

.section-title h2 {
    /* font-size: 48px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (48 - 35) + 35px);
    font-weight: 900;
    line-height: 1.2em;
}

.section-list li {
    font-weight: 300;
    /* font-size: 24px;
    line-height: 42px;
    margin-bottom: 29px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (24 - 20) + 20px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (40 - 30) + 30px);
    margin-bottom: calc((100vw - 480px)/(1440 - 480) * (29 - 15) + 15px);
    display: flex;
    align-items: center;
}

.section-list li:last-child {
    margin-bottom: 0;
}

.section-list span {
    font-weight: 500;
    /* font-size: 48px;
    line-height: 35px;
    margin-right: 20px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (48 - 30) + 30px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (35 - 30) + 30px);
    margin-right: calc((100vw - 480px)/(1440 - 480) * (20 - 15) + 15px);;
}

.subscribe-form {
    display: flex;
}

.subscribe-form__input input {
    /* padding: 20px;
    font-size: 24px;
    line-height: 40px; */
    font-weight: 300;
    border: none;
    font-size: calc((100vw - 480px)/(1440 - 480) * (24 - 18) + 18px);
    padding: calc((100vw - 480px)/(1440 - 480) * (20 - 10) + 10px) calc((100vw - 480px)/(1440 - 480) * (35 - 15) + 15px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (40 - 30) + 30px);;

}

.subscribe-form__button {
    background-color: black;
    color: #ffffff;
    /* font-size: 26px;
    padding: 0 35px;
    height: 80px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (26 - 20) + 20px);
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (35 - 15) + 15px);
    height: calc((100vw - 480px)/(1440 - 480) * (80 - 50) + 50px);
}

/* Navigation */
.platform-header {
    max-width: 1440px;
    position: relative;
    /* background: url(images/background-s1.png) no-repeat 50% 50%;
    background-size: cover; */
}

.platform-header__video {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
}

.platform-header__content {
    /* padding: 50px 82px 206px 247px; */
    padding-top: calc((100vw - 480px)/(1440 - 480) * (50  - 20) + 20px);
    padding-left: calc((100vw - 480px)/(1440 - 480) * (247 - 20) + 20px);
    padding-right: calc((100vw - 480px)/(1440 - 480) * (82 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (140 - 50) + 50px);
    position: relative;
    height: 100%;
    /* background-color: #FEE610; */
    z-index: 1;
}

.platform-header__content:before {
    /* position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45vh 55vw 0 0;
    z-index: -1;
    border-color: #ffffff transparent transparent transparent; */
}

.platform-header__content:after {
    /* position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 0;
    border-style: solid;
    z-index: -1;
    border-width: 0 0 718px 718px;
    border-color: transparent transparent #ffffff transparent; */
}

.platform-header__navigation {
    display: flex;
    align-items: center;
    position: relative;
    /* margin-bottom: 110px; */
    margin-bottom: calc((100vw - 480px)/(1440 - 480) * (120 - 50) + 50px);
}

.platform-header__logo {
    line-height: 0;
    z-index: 1;
}

.platform-header__logo img {
    width: auto;
}

.navigation__list {
    font-size: 16px;
    display: none;
    align-items: center;
    /* margin-left: 183px;  */
    margin-left: calc((100vw - 480px)/(1440 - 480) * (183 - 20) + 20px);; 
    z-index: 1;
}

.navigation__hidden-button {
    margin-left: auto;
}

.navigation__list-item {
    padding: 0 28px;
    cursor: pointer;
}

.navigation__list-item-link {
    white-space: nowrap;
    display: flex;
    margin-right: 30px;
    font-weight: 500;
}

.navigation__list-hidden {
    top: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    z-index: 2;
    margin: 0;
    background-color: #FEE610;
}

.navigation__list-hidden .navigation__list-item {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    border-bottom: 1px solid black;
    transition: all .5s ease-in-out;
}


.navigation__list-hidden .navigation__list-item:hover {
    background-color: #ffffff;
}


.navigation__list-hidden .navigation__list-item:last-child {
    border-bottom: none;
}

.navigation__list-item-link {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 100%;
    margin-right: 0;
}

.platform-header__content-info {
    padding: 0 30px;
    z-index: 1;
}

.platform-header__content-info h1 {
    font-weight: 900;
    /* font-size: 55px;
    line-height: 62px;
    margin-bottom: 27px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (55 - 45) + 45px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (62 - 50) + 50px);
    margin-bottom: calc((100vw - 480px)/(1440 - 480) * (27 - 18) + 18px);
}

.platform-header__content-info p {
    max-width: 590px;
}

.platform-header__timer-wrap {
    margin-top: 60px;
}

.platform-header__date,
.platform-header__timer {
    /* font-size: 48px; */
    /* width: 278px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (48 - 30) + 30px);
    width: calc((100vw - 480px)/(1440 - 480) * (278 - 200) + 200px);
    font-weight: 900;
    text-align: center;

    margin: 20px 0;
}

.platform-header__start-begin {
    font-size: 22px;
    /* width: 278px; */
    width: calc((100vw - 480px)/(1440 - 480) * (278 - 200) + 200px);
    padding: 5px;
    text-align: center;
    font-weight: 900;
    background-color: #ffffff;
}

.platform-header__timer {
    display: flex;
    justify-content: space-between;
}

.timer-item span {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

/* Section about */ 
.section-about {
    position: relative;
    z-index: 1;
}

.section-about:before {
    /* content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 722px 722px 0 0;
    border-color: #FEE610 transparent transparent transparent;
    z-index: -1; */
    /* background: url(images/background-s2.png) no-repeat 50% 50%; */
    /* background-size: cover; */
    /* width: 722px;
    height: 678px; */
}

.section-about__allows {
    /* padding: 55px 0 190px; */
    padding-top: calc((100vw - 480px)/(1440 - 480) * (55 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (190 - 60) + 60px);
}

.section-about__create-for {
    /* padding: 55px 0 213px; */
    padding-top: calc((100vw - 480px)/(1440 - 480) * (55 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (213 - 70) + 70px);
}

.section-about__create-for-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.create-for-list__item {
    text-align: center;
    /* margin-left: 46px;
    padding: 55px 30px 55px; */
    width: 33%;
    height: 394px;
    margin-left: calc((100vw - 768px)/(1440 - 768) * (46 - 20) + 20px);
    padding-top: calc((100vw - 480px)/(1440 - 480) * (55 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (55 - 20) + 20px);
    padding-left: calc((100vw - 480px)/(1440 - 480) * (30 - 20) + 20px);
    padding-right: calc((100vw - 480px)/(1440 - 480) * (30 - 20) + 20px);
    background-color: #FEE610;
}

.create-for-list__item:first-child {
    margin-left: 0;
}

.create-for-list__item h4 {
    font-weight: bold;
    /* font-size: 30px;
    line-height: 35px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (30 - 22) + 22px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (30 - 22) + 22px);
}

.create-for-list__item-content {
    font-weight: 300;
    font-size: 20px;
    /* line-height: 35px;
    margin-top: 50px; */
    line-height: calc((100vw - 480px)/(1440 - 480) * (35 - 30) + 30px);
    margin-top: calc((100vw - 480px)/(1440 - 480) * (50 - 30) + 30px);
}

/* Section priveligie */
.section-privelegie {
    overflow: hidden;
    background-color: #FEE610;
    /* padding: 57px 150px 96px; */
    padding-top: calc((100vw - 480px)/(1440 - 480) * (55 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (190 - 60) + 60px);
}

.section-privelegie__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
}

.section-privelegie__content-item {
    position: relative;
    padding-left: 90px;
    padding-right: 10px;
    /* margin: 55px 0; */
    margin-top: calc((100vw - 480px)/(1440 - 480) * (55 - 20) + 20px);
    margin-bottom: calc((100vw - 480px)/(1440 - 480) * (55 - 30) + 30px);
    width: 33%;
}

.section-privelegie__content-item:before {
    content: '';
    position: absolute;
    width: 77px;
    height: 77px;
    padding: 20px;
    left: 0;
    top: 0;
}

.ic-check:before {
    background: url(../images/icons/ic-check.svg) no-repeat 50% 50%;
}

.ic-list:before {
    background: url(../images/icons/ic-list.svg) no-repeat 50% 50%;
}

.ic-bag:before {
    background: url(../images/icons/ic-bag.svg) no-repeat 50% 50%;
}

.ic-book:before {
    background: url(../images/icons/ic-book.svg) no-repeat 50% 50%;
}

.ic-chat:before {
    background: url(../images/icons/ic-chat.svg) no-repeat 50% 50%;
}

.ic-base:before {
    background: url(../images/icons/ic-base.svg) no-repeat 50% 50%;
}

.section-prevelegie__apply a {
    /* font-size: 28px;
    line-height: 90px;
    width: 396px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:calc((100vw - 480px)/(1440 - 480) * (28 - 24) + 24px);
    line-height:calc((100vw - 480px)/(1440 - 480) * (90 - 60) + 60px);
    width:calc((100vw - 480px)/(1440 - 480) * (396 - 250) + 250px);
    color: #ffffff;
    background-color: black;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
}

/* Section programms */
.section-programms {
    /* padding: 135px 150px 120px; */
    padding-top: calc((100vw - 480px)/(1440 - 480) * (55 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (190 - 20) + 20px);
}

.section-programms__content {
    /* margin-top: 50px; */
    margin-top: calc((100vw - 480px)/(1440 - 480) * (50 - 30) + 30px);
}

.section-programms__content-item {
    display: flex;
    align-items: center;
    /* margin-bottom: 85px; */
    margin-bottom: calc((100vw - 480px)/(1440 - 480) * (85 - 10) + 10px);
}

.section-programms__content-item-text {
    max-width: 850px;
    padding-right: 20px;
}

.section-programms__content-item-text h3 {
    /* font-size: 40px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (40 - 30) + 30px);
    line-height: calc((100vw - 480px)/(1440 - 480) * (40 - 35) + 35px);
    font-weight: 300;
    margin-bottom: 20px;
}

.section-programms__content-item-link {
    margin-left: auto;
    font-size: 24px;
    font-weight: 300;
    /* padding: 17px 69px; */
    padding: 17px 69px;
    text-transform: uppercase;
    border: 1px solid black;
    transition: all .5s;
}

.section-programms__content-item-link:hover {
    background-color: #FEE610;
    border: 1px solid transparent;
}

/*Section experts*/
.section-experts {
    /* padding-bottom: 124px; */
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (124 - 30) + 30px);
}

.experts__list {
    margin-top: 37px;
    position: relative;
}

.experts__list  .owl-dots {
    text-align: center;
}

.experts__list button.owl-dot {
  width: 21px;
  height: 20px;
  margin: 14px;
  background: #ffffff;
  border: 4px solid #000;
}

.experts__list button.active {
  background: #000;
  border: 4px solid #000;
}

.experts__list-item {
    position: relative;
}

.experts__list-item-photo {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.experts__list-item-photo:hover .experts__list-item-content {
    height: 100%;
    opacity: 1;
    top: 0;
}

.experts__list-item-content {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    padding: 42px 21px;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    background: linear-gradient(0deg, rgba(254, 230, 16, 0.9), rgba(254, 230, 16, 0.9));
}

.experts__list-item h4 {
    text-align: center;
    margin: 34px 0 16px;
    padding: 10px 0 20px 
}

/* Section projects */
.section-projects {
    /* padding-bottom: 137px; */
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (137 - 20) + 20px);
}

.section-projects__content {
    /* padding: 20px 227px 0; */
    padding-top: 20px;
    padding-left: calc((100vw - 480px)/(1440 - 480) * (227 - 20) + 20px);
    padding-right: calc((100vw - 480px)/(1440 - 480) * (227 - 20) + 20px);
}

.section-projects__content p {
    margin-bottom: 63px;
    margin-bottom:calc((100vw - 480px)/(1440 - 480) * (63 - 20) + 20px);
}

.section-projects__contacts {
    display: flex;
    align-items: center;
}

.section-projects__contacts-line {
    width: 44%;
    height: 15px;
    background-color: #FEE610; 
}

.section-projects__contacts-card {
    /* padding: 21px 187px 40px 59px; */
    padding-top: 21px;
    padding-right: calc((100vw - 480px)/(1440 - 480) * (187 - 20) + 20px);
    padding-left: calc((100vw - 480px)/(1440 - 480) * (59 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 -480) * (40 - 20) + 20px);

    background-color: #FEE610;
    width: 56%;
    margin-left: auto;
}

.section-projects__contacts-card h3 {
    /* font-size: 40px; */
    font-size: calc((100vw - 480px)/(1440 - 480) * (40 - 30) + 30px);
    font-weight: 500;
    line-height: 3em;
}

.section-projects__contacts-card span {
    display: flex;
    /* line-height: 60px; */
    line-height: calc((100vw - 480px)/(1440 - 480) * (60 - 40) + 40px);
}

/* Section review */
.section-review {
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (275 - 80) + 80px);
}

.section-review__title {
    background-color: #FEE610;
    /* margin-bottom: 68px; */
    margin-bottom: calc((100vw - 480px)/(1440 - 480) * (68 - 20) + 20px);
}

.section-review__reviewers-list {
    display: flex;
    align-items: flex-start;
    /* padding: 0 180px; */
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (180 - 20) + 20px);
}

.reviewers-list__item {
    width: 33%;
    margin-right: 85px;
}

.reviewers-list__item:last-child {
    margin-right: 0;
}

.reviewers-list-content {
    padding: 10px 0 15px;
    height: 534px;
}

.reviewers-list__item:first-child .reviewers-list-content {
    background: url('../images/review_bg1.png') no-repeat 0 0;
    background-size: contain;
}

.reviewers-list__item:nth-child(2) .reviewers-list-content {
    background: url('../images/review_bg2.png') no-repeat 0 0;
    background-size: contain;
}

.reviewers-list__item:nth-child(3) .reviewers-list-content {
    background: url('../images/review_bg3.png') no-repeat 0 0;
    background-size: contain;
}

.reviewers-list__item h4 {
    padding: 28px 0 20px;
}

.reviewers-list-content {
    font-size: 20px;
}

/* Footer */
.platform-footer {
    /* padding: 0 150px; */
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (150 - 20) + 20px);
    background-color: #FEE610;
}

.platform-footer-info {
    display: flex;
    /* padding: 100px 0 45px; */
    padding-top: calc((100vw - 480px)/(1440 - 480) * (100 - 20) + 20px);
    padding-bottom: calc((100vw - 480px)/(1440 - 480) * (45 - 20) + 20px);
    border-bottom: 1px solid #000;
}

.platform-footer-info__social {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.platform-footer-info__social-icon {
    /* width: 77px;
    height: 77px;
    margin-right: 40px; */
    width: calc((100vw - 480px)/(1440 - 480) * (77 - 40) + 40px);
    height: calc((100vw - 480px)/(1440 - 480) * (77 - 40) + 40px);
    margin-right: calc((100vw - 480px)/(1440 - 480) * (40 - 10) + 10px);
}

.platform-footer-info__social-inst {
    background: url(../images/icons/ic-instagram-lg.svg) no-repeat 50% 50%;
    background-size: cover;
}

.platform-footer-info__social-fb {
    background: url(../images/icons/ic-facebook-lg.svg) no-repeat 50% 50%;
    background-size: cover;
}

.platform-footer-info__social-ln {
    background: url(../images/icons/ic-linkedin-lg.svg) no-repeat 50% 50%;
    background-size: cover;
}

.platform-footer-info__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.platform-footer-form {
    padding: 76px 0 111px;
    display: flex;
}

.platform-footer-form__subscribe-text {
    position: relative;
    padding: 0 calc((100vw - 480px)/(1440 - 480) * (95 - 50) + 60px);
    width: 60%;
}

.platform-footer-form__subscribe-text:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    /* width: 73px;
    height: 61px; */
    width: calc((100vw - 480px)/(1440 - 480) * (73 - 50) + 50px);
    height: calc((100vw - 480px)/(1440 - 480) * (61 - 40) + 40px);
    background: url(../images/icons/ic-mail-lg.svg) no-repeat 50% 50%;
    background-size: cover;
}

.platform-footer-form__subscribe-form {
    margin-left: auto;
}